.header {
  background-image: url("../../assets/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subTitle {
  font-family: "Hagrid Text Trial", sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 900;
  width: 350px;
  text-align: center;
  margin: 50px;
}

.title {
  font-family: "Hagrid Trial", sans-serif;
  color: white;
  font-size: 4em;
  font-weight: 500;
  width: 600px;
  margin: 50px;
  margin-left: 150px;
}
