.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subTitle {
  font-family: "Hagrid Text Trial", sans-serif;
  color: white;
  background-color: dodgerblue;
  font-size: 3em;
  text-align: center;
}

.title {
  font-family: "Hagrid Trial", sans-serif;
  color: orange;
  font-size: 4em;
  text-align: center;
}

.anticipo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.formContainer {
  padding: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.img {
  border-radius: 30px;
}
.text {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.8em;
  text-align: center;
}
