input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.body {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 1rem;
  padding: 50px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}

.title {
  color: white;
  font-size: 4em;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.triangle {
  margin-top: 30px;
  border-left: 30px solid white;
  border-top: 15px solid transparent;
  border-bottom: 20px solid transparent;
}
.label {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 15px;
  text-align: center;
  color: white;
}

.input {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  height: 40px;
  resize: none;
  margin: 15px;
  border-radius: 4px;
  padding-left: 20px;
}
.errorLabel {
  font-family: "Titillium Web", sans-serif;
  font-size: 1em;
  text-align: center;
  color: red;
}
.error {
  background: rgba(230, 81, 81, 0.8);
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  height: 40px;
  resize: none;
  margin: 15px;
  border-radius: 4px;
  padding-left: 20px;
  text-transform: uppercase;
  color: white;
}
.button {
  font-size: 1em;
  color: white;
  font-family: "Titillium Web", sans-serif;
  border-radius: 3px;
  padding: 0.5em 1em;
  background: dodgerblue;
  cursor: pointer;
  text-transform: uppercase;
}
.buttonDisabled {
  font-size: 1em;
  color: white;
  font-family: "Titillium Web", sans-serif;
  border-radius: 3px;
  padding: 0.5em 1em;
  background: dodgerblue;
  cursor: pointer;
  text-transform: uppercase;
  pointer-events: none;
}
