.body {
  padding: 5px;
}

.infoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.title {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sauce One", sans-serif;
  text-transform: none;
  text-shadow: 2px 2px 4px black;
}
.info {
  color: white;
  font-size: 2em;
  text-align: center;
  font-family: "Open Sauce One", sans-serif;
  text-shadow: 2px 2px 4px black;
}
.celeste {
  background-color: cornflowerblue;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.naranja {
  background-color: orange;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
